html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #69aef8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 235, 245);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding: 15px;
}

.chats {
  width: 100%;
  flex: 1;
  overflow-y: auto; /* to enable vertical scrolling */
  padding: 0;
  margin-bottom: 15px;
  color: white;
  position: relative;
  font-size: .8em;
}
.GPT-chat {
  width: 70%;
  word-wrap: break-word;
  background-color: rgb(170, 169, 169);
  padding: 10px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px, 10px;
}

.client {
  width: 75%;
  word-wrap: break-word;
  background-color: #69aef8;
  padding: 10px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 10px 0 10px auto;
}

.chat-input {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chat-input textarea {
  width: calc(80% - 20px);
  border: none;
  border-radius: 20px;
  color: black;
  background-color: white;
  font-size: 1.2 em;
  padding: 0 15px;
  outline: none;
  resize: none;
  overflow: hidden;
  min-height: 10px;
  max-height: 100px;
}

.send-msg {
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;

}

.send-msg img  {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

