@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>MedicalAIChat</h2>
    <p>Use chat below to begin</a>.</p>

@* I need a chat box, saved conversation *@

    <div class="container">
        <div class="chat-box">
            <div class="chats">
                <div class="GPT">
                    <div class="GPT-chat">Welcome, how can I help you?</div>
                    <div class="client">Start chat here!</div>
                </div>
            </div>
        </div>
    </div>

    <form method="post" action="">
        <label for="client-text"></label>
        <input id="client-text" type="text"/>
        <button id="submit" name="submit" type="button">Submit</button>

    </form>



</div>
